<!doctype html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Map</title>
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU4CVf8FLD6nXeKM_lSBL_nnY8DobX6Qs"></script>


</head>
<body>

<div id="app" class="main">
    <template>

        <vue-mainViewContainer class="main-view-container" v-model="mainViewContainer">
            <div class='sidebar'>
                <div v-for="place in locations">
                    <img class="card-img-top" v-bind:src="place.image"
                         alt="Card image cap">
                    <div class="card-block">
                        <p class="title"> {{place.title}} </p>
                    </div>
                </div>
                <div class="bottom-buffer"></div>
            </div>

        </vue-mainViewContainer>
    </template>
    <vue-map :locations="locations" v-model="map"></vue-map>
</div>

<script type="text/x-template" id="mainViewContainer">
    <div class="main-view-container">

    </div>
</script>

<script type="text/x-template" id="map">
    <div class="map">
    </div>
</script>


<script src="main.js"></script>
</body>
</html>
